<nav class="p-3 bg-dark text-white">
    <div class="container-fluid">
      <div class="nav justify-content-lg-start">
        <a class="logo mb-2 mb-lg-0" href="#">
          <img class="bi me-2" src="https://i.postimg.cc/rmsFGnpC/LOGO.png">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
          <li>
            <a class="nav-link px-2 text-secondary" href="#">Home</a>
          </li>
          <li>
            <a class="nav-link px-2 text-white" href="#">Features</a>
          </li>
          <li>
            <a class="nav-link px-2 text-white" href="#">Pricing</a>
          </li>
          <li>
            <a class="nav-link px-2 text-white" href="#">FAQs</a>
          </li>
          <li>
            <a class="nav-link px-2 text-white" href="#">About</a>
          </li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input class="form-control form-control-dark" type="search" placeholder="Search..." aria-label="Search">
        </form>
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Sing In</button>
          <button type="button" class="btn btn-warning">Sing Up</button>
        </div>
      </div>
    </div>
</nav>