<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/script/bootstrap.mim.js">

    <title>Workstation</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
          <div class="navcont">
            <a class="logo mb-2 mb-lg-0">
              <img class="bi me-2" src="https://i.postimg.cc/Gh69kNVD/logo.jpg">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
              <li>
                <a class="nav-link px-2 text-secondary" href="#">Home</a>
              </li>
              <li>
                <a class="nav-link px-2 text-white" href="#">Features</a>
              </li>
              <li>
                <a class="nav-link px-2 text-white href="#">Pricing</a>
              </li>
              <li>
                <a class="nav-link px-2 text-white" href="#">FAQs</a>
              </li>
              <li>
                <a class="nav-link px-2 text-white" href="#">About</a>
              </li>
          </ul>
          <form class="search col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input class="form-control form-control-dark" type="search" placeholder="Search..." aria-label="Search">
          </form>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
