/* --HEADER-- */ 

.p-3{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.384);
}
.nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.logo .bi{
  width: 10vh;
  height: 6vh;
  border-radius: 50px;
}

/* --CHECKOUTCART */

.checkCart{
  margin-top: 3rem;
}
.yourCart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listProduct{
  display: flex;
  flex-direction: column;
  border-radius: .25rem;
}
.itemProduct{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.paymentcc{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* --FOOTER-- */

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.itemsColum{
  display: flex;
  align-items: center;
}
.home{
  text-decoration: none;
}
.social{
  display: flex;
  justify-content: flex-end;
}